In [20]:
import sqlite3

In [21]:
conn = sqlite3.connect('sqllite_database.db')  # Or use ':memory:' for an in-memory DB
cursor = conn.cursor()

In [22]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER
)
''')
conn.commit()  # Save changes

In [23]:
cursor.execute('''
INSERT INTO users (name, age)
VALUES (?, ?)
''', ("Alice", 25))
conn.commit()

# Insert multiple rows
users = [("Bob", 30), ("Charlie", 22)]
cursor.executemany('INSERT INTO users (name, age) VALUES (?, ?)', users)
conn.commit()

In [24]:
cursor.execute('SELECT * FROM users')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Alice', 26)
(3, 'Charlie', 22)
(4, 'Alice', 25)
(5, 'Bob', 30)
(6, 'Charlie', 22)

In [25]:
cursor.execute('UPDATE users SET age = ? WHERE name = ?', (26, "Alice"))
conn.commit()

In [26]:
cursor.execute('DELETE FROM users WHERE name = ?', ("Bob",))
conn.commit()

In [27]:
# -----------------------------
# 3. Define helper functions
# -----------------------------
def add_user(name, age):
    cursor.execute('INSERT INTO users (name, age) VALUES (?, ?)', (name, age))
    conn.commit()
    print(f"Added {name}, age {age}.")

def view_users():
    cursor.execute('SELECT * FROM users')
    rows = cursor.fetchall()
    if rows:
        for row in rows:
            print(row)
    else:
        print("No users found.")

def update_user(user_id, new_name, new_age):
    cursor.execute('UPDATE users SET name = ?, age = ? WHERE id = ?', (new_name, new_age, user_id))
    conn.commit()
    print(f"User {user_id} updated.")

def delete_user(user_id):
    cursor.execute('DELETE FROM users WHERE id = ?', (user_id,))
    conn.commit()
    print(f"User {user_id} deleted.")

In [28]:
# -----------------------------
# 4. Interactive menu
# -----------------------------
def menu():
    while True:
        print("\n--- User Database Menu ---")
        print("1. Add User")
        print("2. View Users")
        print("3. Update User")
        print("4. Delete User")
        print("5. Exit")
        choice = input("Choose an option: ")

        if choice == '1':
            name = input("Enter name: ")
            age = int(input("Enter age: "))
            add_user(name, age)
        elif choice == '2':
            view_users()
        elif choice == '3':
            user_id = int(input("Enter user ID to update: "))
            new_name = input("Enter new name: ")
            new_age = int(input("Enter new age: "))
            update_user(user_id, new_name, new_age)
        elif choice == '4':
            user_id = int(input("Enter user ID to delete: "))
            delete_user(user_id)
        elif choice == '5':
            print("Exiting...")
            break
        else:
            print("Invalid choice. Try again.")

In [ ]:
# -----------------------------
# 5. Run the menu
# -----------------------------
menu()

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
(1, 'Alice', 26)
(3, 'Kumar', 34)
(4, 'Alice', 26)
(6, 'Charlie', 22)
(7, 'Kannan', 25)

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
User 4 updated.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
(1, 'Alice', 26)
(3, 'Kumar', 34)
(4, 'Raj', 24)
(6, 'Charlie', 22)
(7, 'Kannan', 25)

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
User 6 deleted.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
(1, 'Alice', 26)
(3, 'Kumar', 34)
(4, 'Raj', 24)
(7, 'Kannan', 25)

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit
Invalid choice. Try again.

--- User Database Menu ---
1. Add User
2. View Users
3. Update User
4. Delete User
5. Exit