In [4]:
pip install --upgrade pip

Requirement already satisfied: pip in ./myenv/lib/python3.13/site-packages (25.1.1)
Collecting pip
  Downloading pip-25.3-py3-none-any.whl.metadata (4.7 kB)
Downloading pip-25.3-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 18.7 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 25.1.1
    Uninstalling pip-25.1.1:
      Successfully uninstalled pip-25.1.1
Successfully installed pip-25.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas sqlalchemy

Requirement already satisfied: pandas in ./myenv/lib/python3.13/site-packages (2.3.3)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.44-cp313-cp313-macosx_11_0_arm64.whl.metadata (9.5 kB)
Requirement already satisfied: numpy>=1.26.0 in ./myenv/lib/python3.13/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./myenv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./myenv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./myenv/lib/python3.13/site-packages (from pandas) (2025.2)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Using cached typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: six>=1.5 in ./myenv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading sqlalchemy-2.0.44-cp313-cp313-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 23.4 MB/s  0:00:00 eta 0:00:01
Using cached typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: typing-extensions, sqlalchemy
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [sqlalchemy]2 [sqlalchemy]
Successfully installed sqlalchemy-2.0.44 typing-extensions-4.15.0
Note: you may need to restart the kernel to use updated packages.

In [27]:
import pandas as pd
from sqlalchemy import create_engine

In [28]:
engine = create_engine('sqlite:///my_database.db')

In [38]:
data = {
    'Name': ['Kannan', 'Karthik', 'Sukumar', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['Fremont', 'Paris', 'Delhi', 'Berlin']
}
df = pd.DataFrame(data)
print(df)

      Name  Age     City
0   Kannan   25  Fremont
1  Karthik   30    Paris
2  Sukumar   35    Delhi
3    David   40   Berlin

In [39]:
df.to_sql('employees', con=engine, if_exists='replace', index=False)

4

In [40]:
df = pd.read_sql('employees', con=engine)

# Or use a SQL query
query = "SELECT * FROM employees WHERE Age > 30"
df = pd.read_sql(query, con=engine)

In [41]:
print(df)

      Name  Age    City
0  Sukumar   35   Delhi
1    David   40  Berlin

In [42]:
df['Age'] = df['Age'] * 1.1

In [43]:
df.to_sql('employees_updated', con=engine, if_exists='replace', index=False)

2

In [44]:
df = pd.read_sql('employees_updated', con=engine)

# Or use a SQL query
query = "SELECT * FROM employees_updated WHERE Age > 30"
df = pd.read_sql(query, con=engine)
print(df)

      Name   Age    City
0  Sukumar  38.5   Delhi
1    David  44.0  Berlin