In [2]:
%pip install pandas

Requirement already satisfied: pandas in /Users/kannans100/MyPython/.venv/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/kannans100/MyPython/.venv/lib/python3.13/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/kannans100/MyPython/.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/kannans100/MyPython/.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/kannans100/MyPython/.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/kannans100/MyPython/.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', None, 'David', 'Eva', 'Alice'],
    'Age': ['25', '30', 'NaN', 'twenty', 22, '25'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York', None, 'New York'],
    'Salary': [50000, 60000, 55000, None, 45000, 50000]
}

df = pd.DataFrame(data)

In [5]:
print("Original DataFrame:\n", df)

Original DataFrame:
     Name     Age         City   Salary
0  Alice      25     New York  50000.0
1    Bob      30  Los Angeles  60000.0
2   None     NaN      Chicago  55000.0
3  David  twenty     New York      NaN
4    Eva      22         None  45000.0
5  Alice      25     New York  50000.0

In [7]:
df.isnull().sum()

Name      1
Age       0
City      1
Salary    1
dtype: int64

In [8]:
df['Name'].fillna('Unknown', inplace=True)  # Fill missing names
df['City'].fillna('Unknown', inplace=True)  # Fill missing cities
df['Salary'].fillna(df['Salary'].mean(), inplace=True)  # Fill missing

/var/folders/wf/f211p9791ps7s6p07lr19m7r0000gn/T/ipykernel_28891/2225784477.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Name'].fillna('Unknown', inplace=True)  # Fill missing names
/var/folders/wf/f211p9791ps7s6p07lr19m7r0000gn/T/ipykernel_28891/2225784477.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna('Unknown', inplace=True)  # Fill missing cities
/var/folders/wf/f211p9791ps7s6p07lr19m7r0000gn/T/ipykernel_28891/2225784477.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace=True)  # Fill missing

In [12]:
print(df)

      Name     Age         City   Salary
0    Alice      25     New York  50000.0
1      Bob      30  Los Angeles  60000.0
2  Unknown     NaN      Chicago  55000.0
3    David  twenty     New York  52000.0
4      Eva      22      Unknown  45000.0
5    Alice      25     New York  50000.0

In [13]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [14]:
print(df)

      Name   Age         City   Salary
0    Alice  25.0     New York  50000.0
1      Bob  30.0  Los Angeles  60000.0
2  Unknown   NaN      Chicago  55000.0
3    David   NaN     New York  52000.0
4      Eva  22.0      Unknown  45000.0
5    Alice  25.0     New York  50000.0

In [16]:
df.drop_duplicates(inplace=True)
print(df)

      Name   Age         City   Salary
0    Alice  25.0     New York  50000.0
1      Bob  30.0  Los Angeles  60000.0
2  Unknown   NaN      Chicago  55000.0
3    David   NaN     New York  52000.0
4      Eva  22.0      Unknown  45000.0

In [18]:
df.reset_index(drop=True, inplace=True)
df.dropna(subset=['Age'], inplace=True)
print(df)

    Name   Age         City   Salary
0  Alice  25.0     New York  50000.0
1    Bob  30.0  Los Angeles  60000.0
2    Eva  22.0      Unknown  45000.0

In [19]:
df['Name'] = df['Name'].str.strip()
df['City'] = df['City'].str.strip()
print(df)

    Name   Age         City   Salary
0  Alice  25.0     New York  50000.0
1    Bob  30.0  Los Angeles  60000.0
2    Eva  22.0      Unknown  45000.0